<html>
<head><title>My first Twig template!</title></head>
<body>
Nome: {{ proprietario_id.nome }}
</br>
Endereco: {{ endereco_id.descricao }} - CEP: {{ endereco_id.cep }}
</br>
Contato: {{ proprietario_id.contato_id.numero }}
</br>
Tipo do Imovel: {{ tipo_imovel_id }}
Valor: {{ valor }}
</body>
</html>